/* CSS GENERAL UTILITIES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
  
}

.txt-red{
    color: red;
}

.strike{
    text-decoration: line-through;
}

p{
    display: inline;
    font-size: 13px;
    margin-bottom: 1em;
}

.img-product {
    width: 100%;
}

h3{
    font-size: 13px;
}

figcaption{
    font-size: 10px;
}


/* CCS GENERAL LAYOUT*/

header{
    background-color: orange;
}

.container-boxed{

    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar{
    display: flex;
    padding: 1em;
    width: 100%;
    justify-content: space-between;
    color: white;

}

#logo-header{
    max-height: 22px;
}

.column{
    width: 32%;
    position: relative;
    margin-bottom: 1em;

}

.text-left{
    
    text-align: left;
}

.text-center{
    
    text-align: center;
  
  
}

.text-right{
    
    text-align: right;


}

main{
    margin-top: 2em;
}

/* SPECIFIC PAGE ELEMENTS */

.card-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
    
   
}

.card{
    min-height: 400px;
    background-color: crimson;
    
}



.label-discount{

    background-color: red;
    color: white;
    padding: 2px 10px;
    position: absolute;
    top: 75%;
    left: 0px;
    font-size: 10px;
}

.label-sustainability{

    background-color: green;
    color: white;
    padding: 2px 10px;
    position: absolute;
    top: 75%;
    left: 45px;
    font-size: 10px;
}

.heart{
    background-color: white;
    padding: 2px 10px;
    position: absolute;
    top: 1%;
    left: 90%;
    font-size: 20px;
}
