/* CSS GENERAL UTILITIES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

/* CCS GENERAL LAYOUT*/

header{
    background-color: orange;
}

.container-boxed{

    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar{
    display: flex;
    padding: 1em;
    width: 100%;
    justify-content: space-between;
    color: white;

}

#logo-header{
    height: 22px;
}

.column{
    width: 30%;

}

.text-left{
    
    text-align: left;
}

.text-center{
    
    text-align: center;
  
  
}

.text-right{
    
    text-align: right;


}

main{
    margin-top: 2em;
}


.card{
    min-height: 400px;
    background-color: crimson;
}

.card-container{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    width: 100%;
   
}

